{% extends "base.html" %}
{% set breadcrumbs = [
    { "label": "Home", "url": url_for("projects") },
    { "label": project.name, "url": url_for("project_detail", project_id=project.id) },
    { "label": file.display_name, "url": url_for("bugs", project_id=project.id, file_id=file.id) },
    { "label": "Edit", "url": "#" }
] %}
{% block content %}
<h1>Edit Item</h1>
<form method="post">
    <label>Name <span class="required-star">*</span>: <input type="text" name="display_name" value="{{ file.display_name }}" required></label><br>
    <label>Type <span class="required-star">*</span>:
        <select name="file_kind" required>
            {% if not file.file_kind %}
            <option value="" disabled selected>-- Select type --</option>
            {% endif %}
            {% for k in file_kinds %}
            <option value="{{ k }}" {% if file.file_kind == k %}selected{% endif %}>{{ k | replace('Product Backlog Item', 'Backlog Item') }}</option>
            {% endfor %}
        </select>
    </label><br>
    <button type="submit">Save Changes</button>
    <a href="{{ url_for('project_detail', project_id=project.id) }}">Cancel</a>
</form>
{% endblock %}
